### Data Manipulation To-do list 

    1 - Pivot the entire dataframe
    2 - Join Questions column
    3 - Calculate  how many peole answered the same question 
    4 - Calculate how many people gave the same answer for a question 
    5 - Touch up the naming convention 
    6 - Export dataframe

In [112]:
import pandas as pd
import os

In [113]:
pwd = os.getcwd()  # Gets current working directory

In [114]:
dataset = pd.read_excel(pwd+"/Edited Survey Monkey Output.xlsx",sheet_name="Edited_data")
dataset

,Respondent ID,Start Date,End Date,Email Address,First Name,Last Name,Custom Data 1,Identify which division you work in. - Response,Identify which division you work in. - Other (please specify),Which of the following best describes your position level? - Response,...,Question 29 - Response 8,Question 29 - Response 9,Question 29 - Response 10,Question 29 - Response 11,Question 29 - Response 12,Question 29 - Response 13,Question 29 - Response 14,Question 30 - Response 1,Question 30 - Response 2,Question 30 - Response 3
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5.379192e+09,44218.500891,44218.528171,NaN,NaN,NaN,NaN,Infrastructure,NaN,Staff,...,NaN,Answer 8,Answer 8,Answer 4,NaN,NaN,Answer 5,NaN,NaN,NaN
2,2.658723e+09,44218.289317,44218.315394,NaN,NaN,NaN,NaN,Finance,NaN,Staff,...,NaN,Answer 5,NaN,NaN,Answer 2,NaN,Answer 5,NaN,NaN,Answer 1
3,4.044163e+09,44218.274514,44218.283009,NaN,NaN,NaN,NaN,Infrastructure,NaN,Department Lead,...,NaN,NaN,Answer 4,Answer 4,Answer 6,NaN,Answer 6,NaN,Answer 1,NaN
4,5.535866e+09,44217.895509,44217.903056,NaN,NaN,NaN,NaN,Infrastructure,NaN,Manager,...,Answer 2,Answer 5,Answer 7,NaN,Answer 6,NaN,Answer 7,Answer 7,Answer 1,Answer 6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194,7.940065e+09,44207.263403,44207.272905,NaN,NaN,NaN,NaN,Infrastructure,NaN,Department Lead,...,Answer 1,Answer 1,Answer 3,Answer 6,Answer 6,Answer 8,NaN,NaN,NaN,Answer 8
195,5.157706e+09,44207.263356,44207.273252,NaN,NaN,NaN,NaN,Finance,NaN,Staff,...,Answer 5,NaN,Answer 5,NaN,NaN,Answer 2,NaN,NaN,NaN,Answer 6
196,9.920756e+09,44207.263056,44207.269063,NaN,NaN,NaN,NaN,Port Operations,NaN,Staff,...,NaN,Answer 7,NaN,NaN,NaN,NaN,NaN,NaN,Answer 3,NaN
197,6.638341e+09,44207.263206,44207.272986,NaN,NaN,NaN,NaN,Infrastructure,NaN,Manager,...,Answer 2,NaN,Answer 3,Answer 5,NaN,Answer 8,Answer 3,Answer 3,NaN,NaN
198,8.114622e+09,44207.263079,44207.268588,NaN,NaN,NaN,NaN,Information Technology,NaN,Staff,...,Answer 3,NaN,Answer 7,NaN,NaN,NaN,NaN,Answer 3,NaN,NaN

In [115]:
df_copy=dataset.copy()

In [116]:
list(dataset.columns)

['Respondent ID',
 'Start Date',
 'End Date',
 'Email Address',
 'First Name',
 'Last Name',
 'Custom Data 1',
 'Identify which division you work in. - Response',
 'Identify which division you work in. - Other (please specify)',
 'Which of the following best describes your position level? - Response',
 'Which generation are you apart of? - Response',
 'Please select the gender in which you identify. - Response',
 'Which duration range best aligns with your tenure at your company? - Response',
 'Which of the following best describes your employment type? - Response',
 'Question 1 - Response',
 'Question 2 - Response',
 'Question 3 - Open-Ended Response',
 'Question 4 - Response',
 'Question 4 - Other (please specify)',
 'Question 5 - Response 1',
 'Question 5 - Response 2',
 'Question 5 - Response 3',
 'Question 5 - Response 4',
 'Question 5 - Response 5',
 'Question 5 - Response 6',
 'Question 6 - Response 1',
 'Question 6 - Response 2',
 'Question 6 - Response 3',
 'Question 6 - Response 4',
 'Question 6 - Response 5',
 'Question 6 - Response 6',
 'Question 7 - Response 1',
 'Question 7 - Unscheduled',
 'Question 8 - Response 1',
 'Question 8 - Response 2',
 'Question 8 - Response 3',
 'Question 8 - Response 4',
 'Question 9 - Response 1',
 'Question 9 - Response 2',
 'Question 9 - Response 3',
 'Question 9 - Response 4',
 'Question 10 - Response 1',
 'Question 10 - Response 2',
 'Question 10 - Response 3',
 'Question 10 - Response 4',
 'Question 10 - Response 5',
 'Question 11 - Reponse 1',
 'Question 11 - Response 2',
 'Question 12 - Response',
 'Question 13 - Response',
 'Question 14 - Response',
 'Question 15 - Response',
 'Question 16 - Response',
 'Question 17 - Response',
 'Question 18 - Response',
 'Question 19 - Response',
 'Question 19 - Other (please specify)',
 'Question 20 - Response',
 'Question 21 - Response',
 'Question 22 - Reponse 1',
 'Question 22 - Reponse 2',
 'Question 23 - Response',
 'Question 24 - Response 1',
 'Question 24 - Response 2',
 'Question 24 - Response 3',
 'Question 24 - Response 4',
 'Question 24 - Response 5',
 'Question 25 - Response 1',
 'Question 25 - Response 2',
 'Question 25 - Response 3',
 'Question 25 - Response 4',
 'Question 25 - Response 5',
 'Question 25 - Response 6',
 'Question 25 - Response 7',
 'Question 25 - Response 8',
 'Question 25 - Response 9',
 'Question 26 - Response 1',
 'Question 26 - Response 2',
 'Question 26 - Response 3',
 'Question 26 - Response 4',
 'Question 27 - Response 1',
 'Question 27 - Response 2',
 'Question 28 - Response',
 'Question 29 - Response 1',
 'Question 29 - Response 2',
 'Question 29 - Response 3',
 'Question 29 - Response 4',
 'Question 29 - Response 5',
 'Question 29 - Response 6',
 'Question 29 - Response 7',
 'Question 29 - Response 8',
 'Question 29 - Response 9',
 'Question 29 - Response 10',
 'Question 29 - Response 11',
 'Question 29 - Response 12',
 'Question 29 - Response 13',
 'Question 29 - Response 14',
 'Question 30 - Response 1',
 'Question 30 - Response 2',
 'Question 30 - Response 3']

In [117]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 199 entries, 0 to 198
Data columns (total 100 columns):
 #   Column                                                                         Non-Null Count  Dtype
---  ------                                                                         --------------  -----
 0   Respondent ID                                                                  198 non-null    float64
 1   Start Date                                                                     198 non-null    float64
 2   End Date                                                                       198 non-null    float64
 3   Email Address                                                                  0 non-null      float64
 4   First Name                                                                     0 non-null      float64
 5   Last Name                                                                      0 non-null      float64
 6   Custom Data 1                                                                  0 non-null      float64
 7   Identify which division you work in. - Response                                197 non-null    object
 8   Identify which division you work in. - Other (please specify)                  2 non-null      object
 9   Which of the following best describes your position level? - Response          196 non-null    object
 10  Which generation are you apart of? - Response                                  196 non-null    object
 11  Please select the gender in which you identify. - Response                     196 non-null    object
 12  Which duration range best aligns with your tenure at your company? - Response  198 non-null    object
 13  Which of the following best describes your employment type? - Response         198 non-null    object
 14  Question 1 - Response                                                          119 non-null    object
 15  Question 2 - Response                                                          118 non-null    object
 16  Question 3 - Open-Ended Response                                               117 non-null    object
 17  Question 4 - Response                                                          116 non-null    object
 18  Question 4 - Other (please specify)                                            104 non-null    object
 19  Question 5 - Response 1                                                        118 non-null    object
 20  Question 5 - Response 2                                                        112 non-null    object
 21  Question 5 - Response 3                                                        109 non-null    object
 22  Question 5 - Response 4                                                        112 non-null    object
 23  Question 5 - Response 5                                                        111 non-null    object
 24  Question 5 - Response 6                                                        114 non-null    object
 25  Question 6 - Response 1                                                        116 non-null    object
 26  Question 6 - Response 2                                                        104 non-null    object
 27  Question 6 - Response 3                                                        116 non-null    object
 28  Question 6 - Response 4                                                        105 non-null    object
 29  Question 6 - Response 5                                                        116 non-null    object
 30  Question 6 - Response 6                                                        107 non-null    object
 31  Question 7 - Response 1                                                        118 non-null    object
 32  Question 7 - Unscheduled                                                       119 non-null    object
 33  Question 8 - Response 1                                                        117 non-null    object
 34  Question 8 - Response 2                                                        115 non-null    object
 35  Question 8 - Response 3                                                        110 non-null    object
 36  Question 8 - Response 4                                                        104 non-null    object
 37  Question 9 - Response 1                                                        121 non-null    object
 38  Question 9 - Response 2                                                        113 non-null    object
 39  Question 9 - Response 3                                                        108 non-null    object
 40  Question 9 - Response 4                                                        111 non-null    object
 41  Question 10 - Response 1                                                       113 non-null    object
 42  Question 10 - Response 2                                                       117 non-null    object
 43  Question 10 - Response 3                                                       123 non-null    object
 44  Question 10 - Response 4                                                       107 non-null    object
 45  Question 10 - Response 5                                                       125 non-null    object
 46  Question 11 - Reponse 1                                                        122 non-null    object
 47  Question 11 - Response 2                                                       117 non-null    object
 48  Question 12 - Response                                                         114 non-null    object
 49  Question 13 - Response                                                         108 non-null    object
 50  Question 14 - Response                                                         105 non-null    object
 51  Question 15 - Response                                                         114 non-null    object
 52  Question 16 - Response                                                         117 non-null    object
 53  Question 17 - Response                                                         135 non-null    object
 54  Question 18 - Response                                                         109 non-null    object
 55  Question 19 - Response                                                         119 non-null    object
 56  Question 19 - Other (please specify)                                           107 non-null    object
 57  Question 20 - Response                                                         105 non-null    object
 58  Question 21 - Response                                                         127 non-null    object
 59  Question 22 - Reponse 1                                                        107 non-null    object
 60  Question 22 - Reponse 2                                                        107 non-null    object
 61  Question 23 - Response                                                         120 non-null    object
 62  Question 24 - Response 1                                                       111 non-null    object
 63  Question 24 - Response 2                                                       110 non-null    object
 64  Question 24 - Response 3                                                       105 non-null    object
 65  Question 24 - Response 4                                                       107 non-null    object
 66  Question 24 - Response 5                                                       111 non-null    object
 67  Question 25 - Response 1                                                       105 non-null    object
 68  Question 25 - Response 2                                                       102 non-null    object
 69  Question 25 - Response 3                                                       107 non-null    object
 70  Question 25 - Response 4                                                       113 non-null    object
 71  Question 25 - Response 5                                                       106 non-null    object
 72  Question 25 - Response 6                                                       116 non-null    object
 73  Question 25 - Response 7                                                       107 non-null    object
 74  Question 25 - Response 8                                                       108 non-null    object
 75  Question 25 - Response 9                                                       106 non-null    object
 76  Question 26 - Response 1                                                       100 non-null    object
 77  Question 26 - Response 2                                                       119 non-null    object
 78  Question 26 - Response 3                                                       107 non-null    object
 79  Question 26 - Response 4                                                       110 non-null    object
 80  Question 27 - Response 1                                                       106 non-null    object
 81  Question 27 - Response 2                                                       105 non-null    object
 82  Question 28 - Response                                                         119 non-null    object
 83  Question 29 - Response 1                                                       120 non-null    object
 84  Question 29 - Response 2                                                       112 non-null    object
 85  Question 29 - Response 3                                                       108 non-null    object
 86  Question 29 - Response 4                                                       114 non-null    object
 87  Question 29 - Response 5                                                       107 non-null    object
 88  Question 29 - Response 6                                                       115 non-null    object
 89  Question 29 - Response 7                                                       112 non-null    object
 90  Question 29 - Response 8                                                       113 non-null    object
 91  Question 29 - Response 9                                                       123 non-null    object
 92  Question 29 - Response 10                                                      106 non-null    object
 93  Question 29 - Response 11                                                      115 non-null    object
 94  Question 29 - Response 12                                                      103 non-null    object
 95  Question 29 - Response 13                                                      120 non-null    object
 96  Question 29 - Response 14                                                      116 non-null    object
 97  Question 30 - Response 1                                                       103 non-null    object
 98  Question 30 - Response 2                                                       117 non-null    object
 99  Question 30 - Response 3                                                       112 non-null    object
dtypes: float64(7), object(93)
memory usage: 155.6+ KB

In [118]:
cols_to_drop= ['Start Date',
                 'End Date',
                 'Email Address',
                 'First Name',
                 'Last Name',
                 'Custom Data 1']

dataset = dataset.drop(columns=cols_to_drop)

dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 199 entries, 0 to 198
Data columns (total 94 columns):
 #   Column                                                                         Non-Null Count  Dtype
---  ------                                                                         --------------  -----
 0   Respondent ID                                                                  198 non-null    float64
 1   Identify which division you work in. - Response                                197 non-null    object
 2   Identify which division you work in. - Other (please specify)                  2 non-null      object
 3   Which of the following best describes your position level? - Response          196 non-null    object
 4   Which generation are you apart of? - Response                                  196 non-null    object
 5   Please select the gender in which you identify. - Response                     196 non-null    object
 6   Which duration range best aligns with your tenure at your company? - Response  198 non-null    object
 7   Which of the following best describes your employment type? - Response         198 non-null    object
 8   Question 1 - Response                                                          119 non-null    object
 9   Question 2 - Response                                                          118 non-null    object
 10  Question 3 - Open-Ended Response                                               117 non-null    object
 11  Question 4 - Response                                                          116 non-null    object
 12  Question 4 - Other (please specify)                                            104 non-null    object
 13  Question 5 - Response 1                                                        118 non-null    object
 14  Question 5 - Response 2                                                        112 non-null    object
 15  Question 5 - Response 3                                                        109 non-null    object
 16  Question 5 - Response 4                                                        112 non-null    object
 17  Question 5 - Response 5                                                        111 non-null    object
 18  Question 5 - Response 6                                                        114 non-null    object
 19  Question 6 - Response 1                                                        116 non-null    object
 20  Question 6 - Response 2                                                        104 non-null    object
 21  Question 6 - Response 3                                                        116 non-null    object
 22  Question 6 - Response 4                                                        105 non-null    object
 23  Question 6 - Response 5                                                        116 non-null    object
 24  Question 6 - Response 6                                                        107 non-null    object
 25  Question 7 - Response 1                                                        118 non-null    object
 26  Question 7 - Unscheduled                                                       119 non-null    object
 27  Question 8 - Response 1                                                        117 non-null    object
 28  Question 8 - Response 2                                                        115 non-null    object
 29  Question 8 - Response 3                                                        110 non-null    object
 30  Question 8 - Response 4                                                        104 non-null    object
 31  Question 9 - Response 1                                                        121 non-null    object
 32  Question 9 - Response 2                                                        113 non-null    object
 33  Question 9 - Response 3                                                        108 non-null    object
 34  Question 9 - Response 4                                                        111 non-null    object
 35  Question 10 - Response 1                                                       113 non-null    object
 36  Question 10 - Response 2                                                       117 non-null    object
 37  Question 10 - Response 3                                                       123 non-null    object
 38  Question 10 - Response 4                                                       107 non-null    object
 39  Question 10 - Response 5                                                       125 non-null    object
 40  Question 11 - Reponse 1                                                        122 non-null    object
 41  Question 11 - Response 2                                                       117 non-null    object
 42  Question 12 - Response                                                         114 non-null    object
 43  Question 13 - Response                                                         108 non-null    object
 44  Question 14 - Response                                                         105 non-null    object
 45  Question 15 - Response                                                         114 non-null    object
 46  Question 16 - Response                                                         117 non-null    object
 47  Question 17 - Response                                                         135 non-null    object
 48  Question 18 - Response                                                         109 non-null    object
 49  Question 19 - Response                                                         119 non-null    object
 50  Question 19 - Other (please specify)                                           107 non-null    object
 51  Question 20 - Response                                                         105 non-null    object
 52  Question 21 - Response                                                         127 non-null    object
 53  Question 22 - Reponse 1                                                        107 non-null    object
 54  Question 22 - Reponse 2                                                        107 non-null    object
 55  Question 23 - Response                                                         120 non-null    object
 56  Question 24 - Response 1                                                       111 non-null    object
 57  Question 24 - Response 2                                                       110 non-null    object
 58  Question 24 - Response 3                                                       105 non-null    object
 59  Question 24 - Response 4                                                       107 non-null    object
 60  Question 24 - Response 5                                                       111 non-null    object
 61  Question 25 - Response 1                                                       105 non-null    object
 62  Question 25 - Response 2                                                       102 non-null    object
 63  Question 25 - Response 3                                                       107 non-null    object
 64  Question 25 - Response 4                                                       113 non-null    object
 65  Question 25 - Response 5                                                       106 non-null    object
 66  Question 25 - Response 6                                                       116 non-null    object
 67  Question 25 - Response 7                                                       107 non-null    object
 68  Question 25 - Response 8                                                       108 non-null    object
 69  Question 25 - Response 9                                                       106 non-null    object
 70  Question 26 - Response 1                                                       100 non-null    object
 71  Question 26 - Response 2                                                       119 non-null    object
 72  Question 26 - Response 3                                                       107 non-null    object
 73  Question 26 - Response 4                                                       110 non-null    object
 74  Question 27 - Response 1                                                       106 non-null    object
 75  Question 27 - Response 2                                                       105 non-null    object
 76  Question 28 - Response                                                         119 non-null    object
 77  Question 29 - Response 1                                                       120 non-null    object
 78  Question 29 - Response 2                                                       112 non-null    object
 79  Question 29 - Response 3                                                       108 non-null    object
 80  Question 29 - Response 4                                                       114 non-null    object
 81  Question 29 - Response 5                                                       107 non-null    object
 82  Question 29 - Response 6                                                       115 non-null    object
 83  Question 29 - Response 7                                                       112 non-null    object
 84  Question 29 - Response 8                                                       113 non-null    object
 85  Question 29 - Response 9                                                       123 non-null    object
 86  Question 29 - Response 10                                                      106 non-null    object
 87  Question 29 - Response 11                                                      115 non-null    object
 88  Question 29 - Response 12                                                      103 non-null    object
 89  Question 29 - Response 13                                                      120 non-null    object
 90  Question 29 - Response 14                                                      116 non-null    object
 91  Question 30 - Response 1                                                       103 non-null    object
 92  Question 30 - Response 2                                                       117 non-null    object
 93  Question 30 - Response 3                                                       112 non-null    object
dtypes: float64(1), object(93)
memory usage: 146.3+ KB

In [119]:
list(dataset.columns)[:8]

['Respondent ID',
 'Identify which division you work in. - Response',
 'Identify which division you work in. - Other (please specify)',
 'Which of the following best describes your position level? - Response',
 'Which generation are you apart of? - Response',
 'Please select the gender in which you identify. - Response',
 'Which duration range best aligns with your tenure at your company? - Response',
 'Which of the following best describes your employment type? - Response']

In [120]:
id_vars = list(dataset.columns)[:8]
value_vars = list(dataset.columns)[8:]

Melt doc -> https://pandas.pydata.org/pandas-docs/version/1.0.0/reference/api/pandas.DataFrame.melt.html

In [121]:
# melt is used to pivot dataframe 

# Assigning each Q&A to the demographic columns 

test_dataset= dataset.melt(id_vars=id_vars,value_vars=value_vars,var_name="Question+subquestion",value_name= "Answers")

test_dataset

,Respondent ID,Identify which division you work in. - Response,Identify which division you work in. - Other (please specify),Which of the following best describes your position level? - Response,Which generation are you apart of? - Response,Please select the gender in which you identify. - Response,Which duration range best aligns with your tenure at your company? - Response,Which of the following best describes your employment type? - Response,Question+subquestion,Answers
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Question 1 - Response,NaN
1,5.379192e+09,Infrastructure,NaN,Staff,Generation X (born between 1965-1980),Male,0-2 years,Full time Employee,Question 1 - Response,NaN
2,2.658723e+09,Finance,NaN,Staff,NaN,NaN,10+ years,Full time Employee,Question 1 - Response,Answer 4
3,4.044163e+09,Infrastructure,NaN,Department Lead,Generation X (born between 1965-1980),Male,3-5 years,Full time Employee,Question 1 - Response,Answer 5
4,5.535866e+09,Infrastructure,NaN,Manager,Millennial (born between 1981-2000),Non-Binary,5-10 years,Full time Employee,Question 1 - Response,Answer 1
...,...,...,...,...,...,...,...,...,...,...
17109,7.940065e+09,Infrastructure,NaN,Department Lead,Baby Boomer (born between 1946-1964),Male,10+ years,Full time Employee,Question 30 - Response 3,Answer 8
17110,5.157706e+09,Finance,NaN,Staff,Millennial (born between 1981-2000),Female,5-10 years,Full time Employee,Question 30 - Response 3,Answer 6
17111,9.920756e+09,Port Operations,NaN,Staff,Millennial (born between 1981-2000),Female,3-5 years,Full time Employee,Question 30 - Response 3,NaN
17112,6.638341e+09,Infrastructure,NaN,Manager,Millennial (born between 1981-2000),Female,3-5 years,Full time Employee,Question 30 - Response 3,NaN
17113,8.114622e+09,Information Technology,NaN,Staff,Prefer not to answer,Male,5-10 years,Full time Employee,Question 30 - Response 3,NaN

In [122]:
dataframe = test_dataset

**Adding the original Questions without the sub questions**

In [123]:
questions = pd.read_excel(pwd+"/Edited Survey Monkey Output.xlsx",sheet_name="Questions")
questions

,Raw Question,Raw Subquestion,Question,Subquestions,Question+subquestion,Unnamed: 5
0,Respondent ID,NaN,Respondent ID,NaN,Respondent ID,Respondent ID
1,Start Date,NaN,Start Date,NaN,Start Date,Start Date
2,End Date,NaN,End Date,NaN,End Date,End Date
3,Email Address,NaN,Email Address,NaN,Email Address,Email Address
4,First Name,NaN,First Name,NaN,First Name,First Name
...,...,...,...,...,...,...
95,NaN,Response 13,Question 29,Response 13,Question 29 - Response 13,Question 29 - Response 13
96,NaN,Response 14,Question 29,Response 14,Question 29 - Response 14,Question 29 - Response 14
97,Question 30,Response 1,Question 30,Response 1,Question 30 - Response 1,Question 30 - Response 1
98,NaN,Response 2,Question 30,Response 2,Question 30 - Response 2,Question 30 - Response 2
99,NaN,Response 3,Question 30,Response 3,Question 30 - Response 3,Question 30 - Response 3

In [124]:
questions_backup = questions.copy()

In [125]:
questions.columns

Index(['Raw Question', 'Raw Subquestion', 'Question', 'Subquestions',
       'Question+subquestion', 'Unnamed: 5'],
      dtype='object')

In [126]:
cols_to_drop = ['Raw Question', 'Raw Subquestion', 'Subquestions', 'Unnamed: 5']

questions.drop(columns=cols_to_drop , inplace = True)

questions

         Question       Question+subquestion
0   Respondent ID              Respondent ID
1      Start Date                 Start Date
2        End Date                   End Date
3   Email Address              Email Address
4      First Name                 First Name
..            ...                        ...
95    Question 29  Question 29 - Response 13
96    Question 29  Question 29 - Response 14
97    Question 30   Question 30 - Response 1
98    Question 30   Question 30 - Response 2
99    Question 30   Question 30 - Response 3

[100 rows x 2 columns]

**Now we'll join the two datasets**

pd.merge doc -> https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.merge.html

In [127]:
# When using joint, make sure the original col number stays the same. 
# otherwise indicates duplicate instances got mapped and created redundent data

df_joint = pd.merge(left=dataframe,right=questions,how="left" , left_on="Question+subquestion", right_on= "Question+subquestion")

print("OG len : " ,len(dataframe))
print("Marged len: ", len(df_joint))

df_joint_cpy=df_joint.copy()
df_joint

OG len :  17114
Marged len:  17114

,Respondent ID,Identify which division you work in. - Response,Identify which division you work in. - Other (please specify),Which of the following best describes your position level? - Response,Which generation are you apart of? - Response,Please select the gender in which you identify. - Response,Which duration range best aligns with your tenure at your company? - Response,Which of the following best describes your employment type? - Response,Question+subquestion,Answers,Question
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Question 1 - Response,NaN,Question 1
1,5.379192e+09,Infrastructure,NaN,Staff,Generation X (born between 1965-1980),Male,0-2 years,Full time Employee,Question 1 - Response,NaN,Question 1
2,2.658723e+09,Finance,NaN,Staff,NaN,NaN,10+ years,Full time Employee,Question 1 - Response,Answer 4,Question 1
3,4.044163e+09,Infrastructure,NaN,Department Lead,Generation X (born between 1965-1980),Male,3-5 years,Full time Employee,Question 1 - Response,Answer 5,Question 1
4,5.535866e+09,Infrastructure,NaN,Manager,Millennial (born between 1981-2000),Non-Binary,5-10 years,Full time Employee,Question 1 - Response,Answer 1,Question 1
...,...,...,...,...,...,...,...,...,...,...,...
17109,7.940065e+09,Infrastructure,NaN,Department Lead,Baby Boomer (born between 1946-1964),Male,10+ years,Full time Employee,Question 30 - Response 3,Answer 8,Question 30
17110,5.157706e+09,Finance,NaN,Staff,Millennial (born between 1981-2000),Female,5-10 years,Full time Employee,Question 30 - Response 3,Answer 6,Question 30
17111,9.920756e+09,Port Operations,NaN,Staff,Millennial (born between 1981-2000),Female,3-5 years,Full time Employee,Question 30 - Response 3,NaN,Question 30
17112,6.638341e+09,Infrastructure,NaN,Manager,Millennial (born between 1981-2000),Female,3-5 years,Full time Employee,Question 30 - Response 3,NaN,Question 30
17113,8.114622e+09,Information Technology,NaN,Staff,Prefer not to answer,Male,5-10 years,Full time Employee,Question 30 - Response 3,NaN,Question 30

### 3 - how many people answered the same question

In [128]:
# fishing out all the answers that aren't null  

respondents = df_joint[df_joint["Answers"].notnull()]

# Grouping NonNull answers by Questions, using Unique Respondent Id to count unique respondenet number. 

respondents = respondents.groupby("Question")["Respondent ID"].nunique().reset_index()

respondents.rename(columns={"Respondent ID":"Respondents"},inplace=True)

respondents

       Question  Respondents
0    Question 1          119
1   Question 10          198
2   Question 11          164
3   Question 12          114
4   Question 13          108
5   Question 14          105
6   Question 15          114
7   Question 16          117
8   Question 17          135
9   Question 18          109
10  Question 19          157
11   Question 2          118
12  Question 20          105
13  Question 21          127
14  Question 22          160
15  Question 23          120
16  Question 24          195
17  Question 25          198
18  Question 26          193
19  Question 27          153
20  Question 28          119
21  Question 29          198
22   Question 3          117
23  Question 30          182
24   Question 4          161
25   Question 5          194
26   Question 6          196
27   Question 7          162
28   Question 8          190
29   Question 9          188

In [129]:
df_joint_2 = pd.merge(left=df_joint,right=respondents,how="left" , left_on="Question", right_on= "Question")

print("OG len : " ,len(df_joint))
print("Marged len: ", len(df_joint_2))

df_joint_2_cpy=df_joint_2.copy()
df_joint_2

OG len :  17114
Marged len:  17114

,Respondent ID,Identify which division you work in. - Response,Identify which division you work in. - Other (please specify),Which of the following best describes your position level? - Response,Which generation are you apart of? - Response,Please select the gender in which you identify. - Response,Which duration range best aligns with your tenure at your company? - Response,Which of the following best describes your employment type? - Response,Question+subquestion,Answers,Question,Respondents
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Question 1 - Response,NaN,Question 1,119
1,5.379192e+09,Infrastructure,NaN,Staff,Generation X (born between 1965-1980),Male,0-2 years,Full time Employee,Question 1 - Response,NaN,Question 1,119
2,2.658723e+09,Finance,NaN,Staff,NaN,NaN,10+ years,Full time Employee,Question 1 - Response,Answer 4,Question 1,119
3,4.044163e+09,Infrastructure,NaN,Department Lead,Generation X (born between 1965-1980),Male,3-5 years,Full time Employee,Question 1 - Response,Answer 5,Question 1,119
4,5.535866e+09,Infrastructure,NaN,Manager,Millennial (born between 1981-2000),Non-Binary,5-10 years,Full time Employee,Question 1 - Response,Answer 1,Question 1,119
...,...,...,...,...,...,...,...,...,...,...,...,...
17109,7.940065e+09,Infrastructure,NaN,Department Lead,Baby Boomer (born between 1946-1964),Male,10+ years,Full time Employee,Question 30 - Response 3,Answer 8,Question 30,182
17110,5.157706e+09,Finance,NaN,Staff,Millennial (born between 1981-2000),Female,5-10 years,Full time Employee,Question 30 - Response 3,Answer 6,Question 30,182
17111,9.920756e+09,Port Operations,NaN,Staff,Millennial (born between 1981-2000),Female,3-5 years,Full time Employee,Question 30 - Response 3,NaN,Question 30,182
17112,6.638341e+09,Infrastructure,NaN,Manager,Millennial (born between 1981-2000),Female,3-5 years,Full time Employee,Question 30 - Response 3,NaN,Question 30,182
17113,8.114622e+09,Information Technology,NaN,Staff,Prefer not to answer,Male,5-10 years,Full time Employee,Question 30 - Response 3,NaN,Question 30,182

### 4 - How many people gave the same answer

In [141]:

# Based on Questions and Sub Questions, group by answers 
# Count number of respondents by answers 

# fishing out all the answers, including the null ones

same_ans = df_joint_2#[df_joint["Answers"].notna()]


same_ans = same_ans.groupby(["Question+subquestion","Answers"])["Respondent ID"].nunique().reset_index()

same_ans.rename(columns={"Respondent ID":"Same Answer Count"},inplace=True)

same_ans

        Question+subquestion   Answers  Same Answer Count
0      Question 1 - Response  Answer 1                 14
1      Question 1 - Response  Answer 2                 10
2      Question 1 - Response  Answer 3                 13
3      Question 1 - Response  Answer 4                 17
4      Question 1 - Response  Answer 5                 22
..                       ...       ...                ...
683  Question 9 - Response 4  Answer 4                 16
684  Question 9 - Response 4  Answer 5                 13
685  Question 9 - Response 4  Answer 6                 14
686  Question 9 - Response 4  Answer 7                 12
687  Question 9 - Response 4  Answer 8                 19

[688 rows x 3 columns]

In [147]:
df_joint_3 = pd.merge(left=df_joint_2,right=same_ans,how="left" , left_on=["Question+subquestion","Answers"], right_on= ["Question+subquestion","Answers"])

df_joint_3["Same Answer Count"].fillna(0,inplace=True)

print("OG len : " ,len(df_joint_2))
print("Marged len: ", len(df_joint_3))

df_joint_3_cpy=df_joint_3.copy()
df_joint_3

OG len :  17114
Marged len:  17114

,Respondent ID,Identify which division you work in. - Response,Identify which division you work in. - Other (please specify),Which of the following best describes your position level? - Response,Which generation are you apart of? - Response,Please select the gender in which you identify. - Response,Which duration range best aligns with your tenure at your company? - Response,Which of the following best describes your employment type? - Response,Question+subquestion,Answers,Question,Respondents,Same Answer Count
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Question 1 - Response,NaN,Question 1,119,0.0
1,5.379192e+09,Infrastructure,NaN,Staff,Generation X (born between 1965-1980),Male,0-2 years,Full time Employee,Question 1 - Response,NaN,Question 1,119,0.0
2,2.658723e+09,Finance,NaN,Staff,NaN,NaN,10+ years,Full time Employee,Question 1 - Response,Answer 4,Question 1,119,17.0
3,4.044163e+09,Infrastructure,NaN,Department Lead,Generation X (born between 1965-1980),Male,3-5 years,Full time Employee,Question 1 - Response,Answer 5,Question 1,119,22.0
4,5.535866e+09,Infrastructure,NaN,Manager,Millennial (born between 1981-2000),Non-Binary,5-10 years,Full time Employee,Question 1 - Response,Answer 1,Question 1,119,14.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
17109,7.940065e+09,Infrastructure,NaN,Department Lead,Baby Boomer (born between 1946-1964),Male,10+ years,Full time Employee,Question 30 - Response 3,Answer 8,Question 30,182,14.0
17110,5.157706e+09,Finance,NaN,Staff,Millennial (born between 1981-2000),Female,5-10 years,Full time Employee,Question 30 - Response 3,Answer 6,Question 30,182,20.0
17111,9.920756e+09,Port Operations,NaN,Staff,Millennial (born between 1981-2000),Female,3-5 years,Full time Employee,Question 30 - Response 3,NaN,Question 30,182,0.0
17112,6.638341e+09,Infrastructure,NaN,Manager,Millennial (born between 1981-2000),Female,3-5 years,Full time Employee,Question 30 - Response 3,NaN,Question 30,182,0.0
17113,8.114622e+09,Information Technology,NaN,Staff,Prefer not to answer,Male,5-10 years,Full time Employee,Question 30 - Response 3,NaN,Question 30,182,0.0

### 5 - Touch up the naming convention

In [158]:
output =  df_joint_3.copy()
output.rename(columns={"Identify which division you work in. - Response":"Division Primary", 
                       "Identify which division you work in. - Other (please specify)":"Division Secondery" ,
                       "Which of the following best describes your position level? - Response":"Position", 
                       "Which generation are you apart of? - Response":"Generation" ,
                       "Please select the gender in which you identify. - Response":"Gender",
                       "Which duration range best aligns with your tenure at your company? - Response" :"Tenure", 
                       "Which of the following best describes your employment type? - Response":"Employment type",
                       "Question+subquestion":"Question and Sub-Question"}, inplace=True)

output.head()

,Respondent ID,Division Primary,Division Secondery,Position,Generation,Gender,Tenure,Employment type,Question and Sub-Question,Answers,Question,Respondents,Same Answer Count
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Question 1 - Response,NaN,Question 1,119,0.0
1,5.379192e+09,Infrastructure,NaN,Staff,Generation X (born between 1965-1980),Male,0-2 years,Full time Employee,Question 1 - Response,NaN,Question 1,119,0.0
2,2.658723e+09,Finance,NaN,Staff,NaN,NaN,10+ years,Full time Employee,Question 1 - Response,Answer 4,Question 1,119,17.0
3,4.044163e+09,Infrastructure,NaN,Department Lead,Generation X (born between 1965-1980),Male,3-5 years,Full time Employee,Question 1 - Response,Answer 5,Question 1,119,22.0
4,5.535866e+09,Infrastructure,NaN,Manager,Millennial (born between 1981-2000),Non-Binary,5-10 years,Full time Employee,Question 1 - Response,Answer 1,Question 1,119,14.0

In [160]:
output.to_excel(pwd+"/Final_Survey_monkey_output.xlsx",index=False)

###                                                                                                                                                 ... in the mid bleak winter.